@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
    background-image: linear-gradient(to right top,#382f9a ,#e7d8ff);
    


}
.container{
  position: relative;
  max-width: 460px;
  width: 100%;
  background: #141515;
  border-radius: 4px;
  padding: 30px;
  margin: 0 20px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.container .input-box{
  position: relative;
}
.input-box .show_hide{
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: #a63030;
  padding: 5px;
  cursor: pointer;
}
.input-box input{
  height: 60px;
  width: 100%;
  border: 2px solid #d3d3d3;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 500;
  color: #333;
  outline: none;
  padding: 0 50px 0 16px;
}
.container .indicator{
  display: none;
}
.container .indicator.active{
  display: block;
  margin-top: 14px;
}
.indicator .icon-text{
  display: flex;
  align-items: center;
}
.icon-text .error_icon{
  margin-right: 8px;
}
.icon-text .text{
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
}


.header {
  text-align: center;
  color: rgb(6, 150, 18);
  margin-bottom: 20px;
}

.header h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.made-by {
  color: rgb(22, 190, 193);
  font-size: 14px;
}

.lock-strength {
  color: white;
  text-align: center;
  margin-top: 20px;
}

.lock-strength h2 {
  color: Yellow;
  font-size: 20px;
  margin-bottom: 10px;
}

.lock-strength p {
  color: rgb(163, 163, 162);
  font-size: 14px;
}
